
    <ul class="nav-list">
        <li class="nav-item logo">
            <h3 class="logo-head">
                <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
                &nbsp;&nbsp;Framer Portal
            </h3>
        </li>
        <li class="nav-item">
            <a href="/"><i class="fas fa-home" aria-hidden="true">
                    &nbsp;&nbsp;Home</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/weather"><i class="fas fa-cloud-sun-rain" aria-hidden="true">
                    &nbsp;&nbsp;Weather</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/weather"><i class="fa fa-leaf" aria-hidden="true">
                    &nbsp;&nbsp;Crop-Price</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/air">
                <i class="fas fa-wind" aria-hidden="true">&nbsp;&nbsp;Air-Quality</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="active" href="/about">
                <i class="fas fa-id-badge" aria-hidden="true">&nbsp;&nbsp;About Us</i>
            </a>
        </li>
        <li class="nav-item-icon">
            <div class="icon-bar">
                <a href="/"><i class="fas fa-home fa-xs" aria-hidden="true"></i></i></a>
                <a href="/weather"><i class="fas fa-cloud-sun-rain fa-xs" aria-hidden="true"></i></a>
                <a href="/crop"><i class="fa fa-leaf fa-xs" aria-hidden="true"></i></a>
                <a href="/air"><i class="fas fa-wind fa-xs" aria-hidden="true"></i></a>
                <a class="active" href="/about"><i class="fas fa-id-badge fa-xs" aria-hidden="true"></i></a>
            </div>
        </li>
    </ul>
    <div class="header">
        <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
        &nbsp;&nbsp;<b>FARMER PORTAL</b>
    </div>
    <div class="main-body">

        <h2 class="main-head">About</h2>
        <div class="card-1"></div>