<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<ul class="nav-list">
    <li class="nav-item logo">
        <h3 class="logo-head">
            <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
            &nbsp;&nbsp;Framer Portal
        </h3>
    </li>
    <li class="nav-item">
        <a href="/"><i class="fas fa-home" aria-hidden="true">
                &nbsp;&nbsp;Home</i>
        </a>
    </li>
    <li class="nav-item">
        <a href="/weather"><i class="fas fa-cloud-sun-rain" aria-hidden="true">
                &nbsp;&nbsp;Weather</i>
        </a>
    </li>
    <li class="nav-item">
        <a href="/crop"><i class="fa fa-leaf" aria-hidden="true">
                &nbsp;&nbsp;Crop-Price</i>
        </a>
    </li>
    <li class="nav-item">
        <a class="active" href="/air">
            <i class="fas fa-wind" aria-hidden="true">&nbsp;&nbsp;Air-Quality</i>
        </a>
    </li>
    <li class="nav-item">
        <a href="/about">
            <i class="fas fa-id-badge" aria-hidden="true">&nbsp;&nbsp;About Us</i>
        </a>
    </li>
    <li class="nav-item-icon">
        <div class="icon-bar">
            <a href="/"><i class="fas fa-home fa-xs" aria-hidden="true"></i></i></a>
            <a href="/weather"><i class="fas fa-cloud-sun-rain fa-xs" aria-hidden="true"></i></a>
            <a href="/crop"><i class="fa fa-leaf fa-xs" aria-hidden="true"></i></a>
            <a class="active" href="/air"><i class="fas fa-wind fa-xs" aria-hidden="true"></i></a>
            <a href="/about"><i class="fas fa-id-badge fa-xs" aria-hidden="true"></i></a>
        </div>
    </li>
</ul>
<div class="header">
    <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
    &nbsp;&nbsp;<b>FARMER PORTAL</b>
</div>
<div class="main-body">

    <h2 class="main-head">Air-Quality</h2>
    <hr>
    <h4>Welcome
        <hr>
    </h4>
    <p>Air quality refers to the condition of the air around us, how clean it is and how many pollutants (harmful
        chemicals or substances) it contains.</p>

    <p>The more pollutants the air contains the more air pollution there is and the worse the air quality is.</p>
    <div class="card">
        <h5 class="card-header">Graph</h5>
        <div class="card-body">
            <h5 class="card-title">Check Air Quality in India !!</h5>
            <p class="card-text">Just Click on Query to see</p>
            <button type="button" class="btn btn-info" id="myBtn">
                Query
            </button>
        </div>
        <div id="query_item"></div><br>
        <div id="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form>
                <div class="form-column w-75 p-3">
                    <div class="col">
                        <label>State</label>
                        <select id='list_state' class="custom-select" id="inputGroupSelect01">
                            <option></option>
                        </select>
                    </div><br>
                    <div class="col">
                        <label>City</label>
                        <select id='list_city' class="custom-select" id="inputGroupSelect01">
                            <option></option>
                        </select>
                    </div><br>
                    <div class="col">
                        <label>Station</label>
                        <select id='list_station' class="custom-select" id="inputGroupSelect01">
                            <option></option>
                        </select>
                    </div>
                </div><br>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </form>
        </div>
    </div>
    <br><br>
</div>