<nav>
    <p class="head">
        <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
        &nbsp;&nbsp;<b>Farmer Portal</b>
    </p>
    <p class="sub-head">Making Farmer's Life easier</p>
</nav>

<section>
    <div class="container">
        <h1 class="heading">Our Services</h1>
        <div class="card-wrapper">

            <div class="card" onclick="window.location='/weather';">
                <img src="./images/back-card.jpg" alt="background image" class="card-img">
                <img src="./images/Group 2@2x.png" alt="logo" class="logo-image">
                <h1>Weather</h1>
                <p class="about">
                    Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Rem, excepturi.
                </p>
                <a href="/weather" class="btn">Let's Go</a>
            </div>

            <div class="card" onclick="window.location='/crop">
                <img src="./images/back-card.jpg" alt="background image" class="card-img">
                <img src="./images/crop.png" alt="logo" class="logo-image">
                <h1>Crop Price</h1>
                <p class="about">
                    Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Rem, excepturi.
                </p>
                <a href="/crop" class="btn">Let's Go</a>
            </div>

            <div class="card" onclick="window.location='/air';">
                <img src="./images/back-card.jpg" alt="background image" class="card-img">
                <img src="./images/air.png" alt="logo" class="logo-image">
                <h1>Air Quality</h1>
                <p class="about">
                    Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Rem, excepturi.
                </p>
                <a href="/air" class="btn">Let's Go</a>
            </div>


        </div>
    </div>

    <h1 class="card-1-head">About the website</h1>

    <div class="cards-1">

        <div class="card-1">
            <img src="./images/graph.png" alt="graph" class="card-1-img">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Velit molestias repudiandae quae, soluta animi minima nostrum
                    perspiciatis ipsam repellat! Porro.</p>
            </div>
        </div>

        <div class="card-1">
            <img src="./images/table.png" alt="graph" class="card-1-img" id="img-2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Velit molestias repudiandae quae, soluta animi minima nostrum
                    perspiciatis ipsam repellat! Porro.</p>
            </div>
        </div>

        <div class="card-1">
            <img src="./images/farm.webp" alt="graph" class="card-1-img">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Velit molestias repudiandae quae, soluta animi minima nostrum
                    perspiciatis ipsam repellat! Porro.</p>
            </div>
        </div>

    </div>
</section>

<footer>
    <h5>&copy;Copyright 2019-2030 by Pranay and Mayank. <br> &reg;All Rights Reserved</h5>
</footer>