   <ul class="nav-list">
        <li class="nav-item logo">
            <h3 class="logo-head">
                <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
                &nbsp;&nbsp;Framer Portal
            </h3>
        </li>
        <li class="nav-item">
            <a href="/">
                <i class="fas fa-home" aria-hidden="true">&nbsp;&nbsp;Home</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="active" href="/weather">
                <i class="fas fa-cloud-sun-rain" aria-hidden="true">&nbsp;&nbsp;Weather</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/crop">
                <i class="fa fa-leaf" aria-hidden="true">&nbsp;&nbsp;Crop-Price</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/air">
                <i class="fas fa-wind" aria-hidden="true">&nbsp;&nbsp;Air-Quality</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/about">
                <i class="fas fa-id-badge" aria-hidden="true">&nbsp;&nbsp;About Us</i>
            </a>
        </li>
        <li class="nav-item-icon">
            <div class="icon-bar">
                <a href="/"><i class="fas fa-home fa-xs" aria-hidden="true"></i></i></a>
                <a class="active" href="/weather"><i class="fas fa-cloud-sun-rain fa-xs" aria-hidden="true"></i></a>
                <a href="/crop"><i class="fa fa-leaf fa-xs" aria-hidden="true"></i></a>
                <a href="/air"><i class="fas fa-wind fa-xs" aria-hidden="true"></i></a>
                <a href="/about"><i class="fas fa-id-badge fa-xs" aria-hidden="true"></i></a>
            </div>
        </li>
    </ul>
    <div class="header">
        <i class="fas fa-tractor" style="color: rgb(192, 240, 164)"></i>
        &nbsp;&nbsp;<b>FARMER PORTAL</b>
    </div>
    <div class="main-body">
        <div id="demo">
            
        </div>
        <h2 class="main-head">Weather</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, tempora. Tempore officia architecto aperiam
        asperiores nesciunt labore animi molestiae alias non doloribus id earum, ad odit consequuntur doloremque
        impedit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum illo quae laborum aliquam odit similique quam
        repellat doloremque, sint accusamus quas mollitia fugit exercitationem veritatis nulla et, fuga animi non
        voluptate? Ad nesciunt cum est aliquam adipisci sunt aspernatur et? Quod enim modi similique sit, optio autem
        corrupti? Ducimus, vitae. Deleniti est fugit sapiente perferendis delectus dolores qui aperiam, inventore
        repellendus tenetur mollitia quod beatae nesciunt sit corrupti, culpa reiciendis velit. Dignissimos illo
        nesciunt alias asperiores voluptatibus veniam nihil repudiandae saepe. Amet nam deleniti nisi. Ad nisi nihil,
        vitae at amet architecto dignissimos dicta iste eius eos ratione tempore corrupti enim error voluptas ab
        consequatur. Veniam quam corrupti maxime. Quaerat voluptatum nemo harum quis incidunt eum? Saepe odit iure
        reiciendis aliquam totam deserunt aspernatur ad tempore beatae error, nostrum sit voluptatum eaque quod nulla at
        dolorum molestiae! Vitae, vel? Aut nobis corporis harum porro dolores quaerat. Sed quidem aliquam voluptatum
        expedita sunt. Ducimus asperiores explicabo officia doloremque magni. Perferendis ipsum modi hic nihil iusto
        dignissimos quibusdam natus incidunt quod. Incidunt saepe modi obcaecati eaque ipsam quis optio fuga totam ab
        velit a perspiciatis, at mollitia neque odio ratione eius porro id nisi. Qui nulla veniam numquam deleniti nisi
        quas! Impedit?
    </div>